


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('imagem-body-icms.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 1200px; /* Ajuste o tamanho do quadrado conforme necessário */
  height: 750px;
  background-color: rgba(252, 251, 251, 0.486); /* Cor de fundo com opacidade */
  border-radius: 3%;
}

.container img{
  margin-top: 2%;
}

nav {
  /* Estilos da navegação dentro do quadrado */
  text-align: center;
  display: flex;
  justify-content: space-around; /* Para espaçar os itens igualmente */
  margin-left: 350px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
color: #0f1447;

}


h1{
  margin-left: 40%;
  color: #0f1447;
  font-size: 30px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav li {
  display: inline-block;
  margin: 0 10px; /* Adapte a margem conforme necessário */
}

nav a {
  text-decoration: none;
  color: #0f1447; /* Cor do texto dos links */
  margin: 0 5px; /* Adapte a margem conforme necessário */
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#selectAno,
#selectMes{
  font-size: 20px;

}



#id-button{
  margin-left: 4%;
  margin-top: 3%;
}



#myChart{
  margin-top: 10%;
  
}




#id-descric{
  margin-left: 40%;
 color:#0f1447;
}