


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('/dashboard/icms/imagem-icms.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 1200px; /* Ajuste o tamanho do quadrado conforme necessário */
  height: 600px;
  background-color: rgba(252, 251, 251, 0.486); /* Cor de fundo com opacidade */
  border-radius: 3%;
}

nav {
  /* Estilos da navegação dentro do quadrado */
  text-align: center;
  display: flex;
  justify-content: space-around; /* Para espaçar os itens igualmente */
  margin-left: 350px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
color: white;

}


nav h1{
  
  color: white;
  font-size: 30px;
}


nav li {
  display: inline-block;
  margin: 0 10px; /* Adapte a margem conforme necessário */
}

nav a {
  text-decoration: none;
  color: white; /* Cor do texto dos links */
  margin: 0 5px; /* Adapte a margem conforme necessário */
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif
}

#text_h1{
  margin-left: 130px;

}


#text_p{
  margin-left: 55px;
  overflow-wrap: break-word;
  width: 250px; /* Ajuste conforme necessário */
}


.container_desc{
  margin: 5px;
  background-color: rgba(227, 228, 235, 0.692);
  max-width: 350px;
  max-height: 500px;
}

#selectAno,
#selectMes{
  font-size: 20px;
  
}